body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}

/*Blog Posts*/

.blog-post 
{
    margin-bottom: 60px;
}

.blog-post-title
{
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom:20px;
    color: #999;
    font-style:italic;
}


    header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    