  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Blog.css">
      <link type="text/html" rel="stylesheet" href="html/admin.html">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
                  
        <header>
            <nav>    
                <div class="nav-wrapper cyan darken-3">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right">
                        <li><a href="index.html">Home <span class="new badge"><script id="poststoday-template" type="text/x-handlebars-template">{{poststoday}}</script></span></a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    <main>
       <div id="slide-out" class="side-nav fixed">
      <a href="index.html">Home</a>
      <a href="admin.html">Admin</a>
                <h4>Posts</h4>          
      <div id="post-titles">
          <script id="Titles-template" type="text/x-handlebars-template">
          {{#each posts}}
          <div class="blog-post">
           <a class="blog-post-title" id={{title}} href="#{{title}}">{{title}}</a>
          </div>
            {{/each}} 
           </script>
      </div>
    </div>
            <div class="container">
                <div class="row">
                <h1 class="center-align">Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
    </main>
        <footer class="page-footer cyan darken-3">
            <div class="container">
                <p><a href="#"><span class="white-text">Back to the top</span></a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Kyle
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
      <script type="text/javascript" src="js/Blog.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="blog-post">
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
            <div>{{{content}}}</div>
            </div>
            {{/each}}
      </script>
    </body>
  </html>

